body{
    background-color: aliceblue;
}
ul{
    list-style-type: none;
}
li{
    float: left;
    border-right: 1px solid #bbb;
}
a.nav{
    display: block;
    padding: 8px;
    background-color: lightblue;
}
li:last-child {
    border-right: none;
}
.active {
    display: block;
    padding: 8px;
    background-color: skyblue;
}