body{
    background-color: aliceblue;
}
ul{
    list-style-type: none;
}
li{
    float: left;
    border-right: 1px solid #bbb;
}
a{
    display: block;
    padding: 8px;
    background-color: lightblue;
}
li:last-child {
    border-right: none;
}
.active {
    background-color: skyblue;
}
h1{
    background-image: url(../images/WHAT-IS-WEB-DESIGN.png);width: 100%;height: 100%;
}